:root{
    --card-color: rgb(23, 23, 23);
}

#cards{
    padding-top: 1em;
    margin: 0;
    /* border: green solid 4px; */
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 8px;
    max-width: 916px;
    width: calc(100%-20px);
    /* height: inherit; */
}

#cards:hover > .card::after {
    opacity: 1;
  }

.card{
    background-color: rgba(255, 255, 255, 0.1);
    /* border: 5px solid rgba(220, 24, 24, 0.02); */
    height: 260px;
    width: 300px;

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    padding: 0;
}

.card:hover::before{
    opacity: 1;
}

.card::before, .card::after{
    opacity: 0;
    transition: opacity 500ms;
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    width: 100%;
    /* top: 0px; */
    z-index: 2;
}

.card::before {
    background: radial-gradient(
        800px circle at var(--mouse-x) var(--mouse-y), 
        rgba(255, 255, 255, 0.25),
        transparent 40%
    );
    z-index: 3;
}

.card::after {  
background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255, 0.4),
    transparent 40%
);
z-index: 1;
}

.card > .card-content {
    background-color: var(--card-color);
    border-radius: inherit;
    /* display: flex; */
    /* flex-direction: column; */
    /* flex-grow: 1; */
    inset: 1px;
    /* padding: 10px; */
    position: absolute;
    z-index: 2;
  }

/* -- ↓ ↓ ↓ some responsiveness ↓ ↓ ↓ -- */

@media(max-width: 1000px) {
    body {
      align-items: flex-start;  
      overflow: auto;
    }
    
    #cards {    
      max-width: 1000px;
      padding: 10px 0px;
    }
    
    /* .card {
      flex-shrink: 1;
      width: calc(50% - 4px);
    } */
  }
  
  @media(max-width: 500px) {
    .card {
      height: 180px;
    }
    
    .card-image {
      height: 80px;  
    }
    
    .card-image > i {
      font-size: 3em;
    }
      
    .card-info-wrapper {
      padding: 0px 10px;
    }
    
    .card-info > i { 
      font-size: 0.8em; 
    }
    
    .card-info-title > h3 {
      font-size: 0.9em;
    }
  
    .card-info-title > h4 {
      font-size: 0.8em;
      margin-top: 4px;
    }
  }
  
  @media(max-width: 320px) {
    .card {
      width: 100%;
    }
  }

