:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* line-height: 1.5; */
  /* font-weight: 400; */

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  /* font-synthesis: none; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  /* background-color: aqua; */
}

#root {
  /* background-color: #d10909; */
  max-width: 1280px;
  margin: 0 auto;
  padding: 0%;
  text-align: center;
}

.App{
  color: #dfdddd;
}

/* .Counter{
  border: solid red 2px;
} */

.logo {
  /* border: #072cffaa solid 2px; */
  height: 6em;
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 4em #646cffd8);
}
.logo.react:hover {
  filter: drop-shadow(0 0 4em #61dafbaa);
  /* 61dafbaa react color */
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
  /* a:nth-of-type(3) .logo {
    animation: logo-spin infinite 10s linear;
  } */
}

.card_c {
  padding: 2em;
  /* border: solid red 2px; */
}