:root {
  --bg-color: rgb(20, 20, 20);
  --card-color: rgb(23, 23, 23);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  padding: 0%;
  margin: 0;
}

body {
  background-color: var(--bg-color);
  
  text-align: center;
  display: flex;
  margin: 0px;
  padding: 0px;
  justify-content: center;
  height: 100vh;
}

#root {
  max-width: 1280px;
  min-width: 80%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;

  color: aliceblue;
}