:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* line-height: 1.5; */
  /* font-weight: 400; */

  /* color-scheme: light dark; */
  /* color: rgb(150, 150, 148);
  background-color: #242424; */

  --bg-color: rgb(20, 20, 20);
  --card-color: rgb(23, 23, 23);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  padding: 0%;
  margin: 0;
}

body {
  background-color: var(--bg-color);
  
  text-align: center;
  display: flex;
  margin: 0px;
  padding: 0px;
  justify-content: center;
  /* place-items: center; */
  
  height: 100vh;
  
  /* min-width: 320px;
  min-height: 100vh; */
}

#root {
  /* border: #747bff solid 2px; */
  max-width: 1280px;
  min-width: 80%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;

  color: aliceblue;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
